@model IEnumerable<Ordem_Servicos_Web.Models.Cliente>

@foreach (var cliente in Model)
{
    <tr>
        <td>
            <a asp-action="Alterar" asp-route-id="@cliente.IdCliente" class="btn btn-alterar btn-sm">
                <i class="fa fa-edit"></i> Alterar
            </a>
            <a asp-action="Excluir" asp-route-id="@cliente.IdCliente" class="btn btn-excluir btn-sm">
                <i class="fa fa-trash"></i> Excluir
            </a>
        </td>
<<<<<<< HEAD
        <td class="text-end">@cliente.IdCliente</td>
        <td class="text-center">@cliente.TipoPessoa</td>
        <td class="text-end">@cliente.CpfCnpjFormatado</td>
        <td>@cliente.NomeRazaoSocial</td>
        <td>@cliente.Endereco</td>
        <td class="text-end">@cliente.Numero</td>
        <td>@cliente.Bairro</td>
        <td>@cliente.Municipio</td>
        <td class="text-center">@cliente.Uf</td>
        <td class="text-center">@cliente.CepFormatado</td>
        <td>@cliente.Contato</td>
        <td class="text-center">@cliente.FoneFixoFormatado</td>
        <td class="text-center">@cliente.FoneCelularFormatado</td>
        <td>@cliente.EmailFormatado</td>
        <td class="text-end">@cliente.DataCadastro.ToShortDateString()</td>
=======
        <td>@cliente.IdCliente</td>
        <td>@cliente.TipoPessoa</td>
        <td>@cliente.CpfCnpjFormatado</td>
        <td>@cliente.NomeRazaoSocial</td>
        <td>@cliente.Endereco</td>
        <td>@cliente.Numero</td>
        <td>@cliente.Bairro</td>
        <td>@cliente.Municipio</td>
        <td>@cliente.Uf</td>
        <td>@cliente.CepFormatado</td>
        <td>@cliente.Contato</td>
        <td>@cliente.Fone1Formatado</td>
        <td>@cliente.Fone2Formatado</td>
        <td>@cliente.EmailFormatado</td>
        <td>@cliente.DataCadastro.ToShortDateString()</td>
>>>>>>> 2ddd7e7f7bdc32e421f23a847a01c8ab48c6f1d7
    </tr>
}
